/* main */
#main{
    width: 100%;
    margin: 0;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

/*clock and greeting */ 
.clock-main{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*for greetings*/

#greeting{
    margin: 0;
    font-family: sans-serif;
    font-family: 300;
    font-size: 1.3rem;
    color: white;
}

/* for clock*/
#clock{
    margin: 0;
    font-family: sans-serif;
    font-family: 350;
    font-size: 10rem;
    color: white;
}

/*for to do list*/

.to-do{
    width: 40%;
    margin: 4%;
    height: 75%;
    background-color: rgba(255,127,80,0.5);
    border-radius: 15px;
    padding: 0.5%;
}

/* to do list heading*/

.to-do h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/*form for creating new task*/

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.submit-form{
    height: 3rem;
    width: 35%;
    outline: none;
    color: black;
    margin: 1%;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
}

.submit-button{
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 2%;
    margin: 1%;
    font-family: sans-serif;
}

.submit-button:hover{
    background: black;
    border: 1px solid black;
    color: white;
}

.form p{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 600;
    margin: 2%
}

.submit-form::-webkit-input-placeholder{
    color: black;
}

/*tasks in to-do list*/

.tasks{
    list-style: none;
}

/*delete button*/

.delete{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.delete:hover{
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    color: black;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.3rem;
}

/*checkbox for task completion*/

input[type="checkbox"]{
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
}

input[type="checkbox"]:hover{
    background-color: black;
}

/*for displaying tasks*/

.display-tasks{
    height: 70%;
    overflow-y: scroll;
}

/* adding scrollbar for overflow*/

.display-tasks::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 6px;
}

/*media queries*/

@media screen and (max-width: 800px) {
    #main{
        flex-direction: column;
    }

    .clock-main{
        margin-top: 0;
        padding-top: 0;
        height: 50%;
        width: 100%;
    }

    .to-do{
        height: 60%;
        width: 85%;
    }

    .display-tasks{
        height: 50%;
    }
}
