/*adjusting the dimensions of body*/
body{
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

/*setting the image as a background and adjusting its dimensions*/
main{
    height: 100vh;
    width: 100%;
    background-image: url('../images/frankie-lopez-UaITS7CCnDE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}
