<html>
    <head>
        <title>
            <%= title %>
        </title>
        <%- style %>
    </head>
    <body>
        <main id="layout-main">
            <%- body %>
        </main>
        <%- script %>
    </body>
</html>