<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <main id="layout-main">
            <%- body %>
        </main>
        <%- script %>
    </body>
</html>